body {
    margin: 0px;
}

/* Body Header */

#body-header {
    height: 65vh;
    opacity: 0.8;
    background-image: url(https://ninjasfiles.s3.amazonaws.com/asset_0000000000000020_1549743985_macbook_mouse.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}
section{width: auto;height: 70vh;}
/* Horizontal Lists */

.horizontal-list {
    list-style: none;
    padding-left: 10px;
}

.horizontal-list li {
    display: inline-block;
    margin: 0px 8px 8px 0px;
}


.horizontal-list li a {
    color: white;
    text-decoration: none;
}

.top-list li a{ transition: color 1s, border-bottom 1s;}

.top-list li a:hover {
    color: lightgrey;
    border-bottom: 1px solid white;
}

.text-center {
    text-align: center;
}
#membership{
            background-color: purple;
            display: flex;
            justify-content: space-around;
            padding: 30px;
}
.price{
            height: 350px;
            width: 270px;
            border-radius: 1.5rem;
            border-style: double;
            border-width: 7px;
            background-color: white;
        }
        .price>h4{
            font-size: 20px;
            text-align: center;
        }
        #free{
            margin-left: 125px;
        }
        #gold{
        }
        #platinum{
            margin-right: 125px;
        }
        #AboutWeb{
            background-color: lightgrey;
            padding: 30px;
        }
        .Impacted{
            display:inline-block;
            height: 200px;
            width: 200px;
        }
        .Impacted>b{
            font-weight: bolder;
            font-size: 34px;            
            text-align: center;
        }
        .Impacted>p{
            font-size: 20px;
        }
        .Impacted>ul{
            text-align: center;
        }
        .price>button{
            margin-left: 95px;  }
        #CalInfo{
            display: flex;
            justify-content: space-around;
        }
        h2{
  color: #1F64F3;
}
a:link {
  color:#1F64F3 ;
}

.flex-item:hover {
  background-color: #5DBAD3 ;
  color:white;

}
.flex-container {  
    display: -webkit-flex;  
    display: flex;
    /*flex-direction: row; */
   flex-wrap: wrap;
   font-weight: "Lucida Console", "Courier New", monospace;;
   font-size:20px;

    /*width: 1000px; */
    /*justify-content: center;
    height: 1000px;  
   align-items: center; */
   background-color: #F4FDFF;
      margin-left: 200px;
      margin-right:200px;
}  
.flex-item {  
    /*background-color: brown;  */
    width: 400px;  
    height: 300px;  
    margin: 30px;  
    flex:40%;
    flex-wrap: wrap;
    word-spacing: 2px;
   /* border: solid 1px black;*/
   /* flex-direction: row; */
    align-content: space-around;
    box-shadow: 0.5 0.5 .50  black;
    border-radius: 5%;
    /margin-bottom: 10px;/
   /* margin-left: 20px;*/
}  
.skill-icons div div span{padding: 15px;color: white;font-size: 1.5rem;}


#lower-footer{background: linear-gradient(to right,#2857a4,#403066);width: 100%;height: 100px;}
#upper-footer{background: lightblue;width: 100%;height: 80vh;display: flex;justify-content: space-evenly;
}
#social-footer li a img {
    width: 1.5rem;
    padding: 8px;
}
#social-footer{
   position: absolute;
   padding-left: 620px;


}
#innerDiv1{

    border: 1px solid black;
    padding: 50px;
    width: 200px;
   
}
#innerDiv2{

    border: 1px solid black;
    padding: 50px;
    width: 200px;
}
#innerDiv3{

    border: 1px solid black;
    padding: 50px;
    width: 200px;
}
#circle-{
    width: 100px;
    height: 100px;
   position: fixed;
   right: 0px;
   bottom: 0px;
   border: 1px solid black;
   border-radius: 50%;
}
















