body {
    margin: 0px;
}

/* Body Header */

#body-header {
    height: 65vh;
    opacity: 0.8;
    background-image: url(https://ninjasfiles.s3.amazonaws.com/asset_0000000000000020_1549743985_macbook_mouse.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}
section{width: auto;height: 70vh;}
/* Horizontal Lists */

.horizontal-list {
    list-style: none;
    padding-left: 10px;
}

.horizontal-list li {
    display: inline-block;
    margin: 0px 8px 8px 0px;
}


.horizontal-list li a {
    color: white;
    text-decoration: none;
}

.top-list li a{ transition: color 1s, border-bottom 1s;}

.top-list li a:hover {
    color: lightgrey;
    border-bottom: 1px solid white;
}

.text-center {
    text-align: center;
}
/*About Section*/
#name{font-weight: bold;color: white;font-size: 70px;text-align: center;margin-top: 130px;margin-bottom: 0px}
/*#social li{margin: 10px;border-radius: 50%}
#social li :hover{ ;}*/
#social li a img {
    width: 1rem;
    padding: 8px;
}
#social li {
    border-radius: 50%;
}

#social li:hover {
    box-shadow: 0px 0px 6px 4px rgba(230, 196, 196, 0.3);
}
#my-img{border-radius: 50%;margin-top:-70px;position: relative ;border:1.5px solid white;box-shadow: 0px 0px 6px 4px grey}


/*Skills Section*/
.skill-section{margin: 40px;
    height: 400px;
display: flex;
flex-direction: column;
align-items: center;
font-weight: 400px;
font-size: 30px;}

.skill-section i{color: blue;
    padding: 5px
}

.skill-icons{
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}
.skill-progress{background-color: grey;
    margin: 40px;
border-radius: 30px;
width: 130px;
height: 30px;}

.skill-value{border-radius:30px 0px 0px 30px ;
height: 30px;}

#Cplus{background-color: orange;
width: 60%;}
#html{background-color: purple;
width: 80%}
#css{background-color: cyan;
width: 90%}
#Javascript{background-color: orange;
width: 70%;}
#Android{background-color: purple;
width: 100%;
border-radius: 30px;}
#IOS{background-color: cyan;
width: 100%;border-radius: 30px;}


.skill-icons div div span{padding: 15px;color: white;font-size: 1.5rem;}

/*ContactSection*/

#contact-bg{background: linear-gradient(to right,#2857a4,#403066);width: 95%;height: 400px;}

/*Experience Section*/
.work-exp{
    display: flex;
    flex-direction:column;
    align-items: center;
    margin-top: 80px;
}
#exp-main{width: 80%;
height: 450px;
border:2px solid black;}

#experience i{color: blue;
padding: 5px}
.exp-box{position: relative;
    width: 40%;
height: 100px;
border: 2px solid blue;
margin: 5px;
margin-left: 5% 

}
.exp-box:nth-child(2n){left: 53%}

/*#exp-main:nth-child(2n) {border-radius: 30px}*/
p:nth-child(2) {
  background: red;
}
.timeline-divider {
    position: absolute;
    height: 75%;
    width: 0;
    border: 3px dashed #0096fa6b;
    margin-top: 10%;
    left: 50%;
}

#timeline i{margin-left: 0px;}
